<button
  printTitle="Names Tables"
  [useExistingCss]="true"
  printSectionId="content"
  ngxPrint
>
  <!-- another css file -->
  <!-- styleSheetFile="assets/pdf.css" -->
  Print PDF
</button>

<div id="content">
  <table class="table">
    <thead>
      <tr class="header">
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Lu</td>
        <td>@mak</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Xiao</td>
        <td>Ting</td>
        <td>@mak</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Ning</td>
        <td>Ning</td>
        <td>@mak</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Kazuha</td>
        <td></td>
        <td>@mak</td>
      </tr>
    </tbody>
  </table>
</div>
