<button (click)="generatePDF()">Download canvas PDF</button>

<div id="contentToConvert">
  <div class="content">
    <div class="contentTop">
      <span>Name: Hein Htike</span>
      <span>Age: 33</span>
      <span>Status: Pro</span>
    </div>

    <table class="table">
      <thead>
        <tr class="header">
          <th>#</th>
          <th>First</th>
          <th>Last</th>
          <th>Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Lu</td>
          <td>@mak</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Xiao</td>
          <td>Ting</td>
          <td>@mak</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Ning</td>
          <td>Ning</td>
          <td>@mak</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Kazuha</td>
          <td></td>
          <td>@mak</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
